.btn{
	.transition(0.2s);
	.fh;
	.border-radius(4px);
	margin: 0;
	padding: 0 20px;
	border : 0;
	height: @input-height;
	line-height: @input-height;
	font-size: 19px;
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	text-transform: uppercase;
	color: #fff;
	outline: none;
	text-align: center;
	background: @c6;
	&:hover{
		background: @c5;
	}
}
.fileinputs {
	&:hover{
		input[type="button"] {
			background: @c5;
		}
	}
}