// fonts
.fp {font-family: 'Open sans',sans-serif;} // font primary
.fh {font-family: 'ITC Officina Sans',sans-serif;} // font header
.fs1 {font-family: 'Kalam',sans-serif;} // font special
.fs2 {font-family: 'Indie Flower',sans-serif;} // font special
.fi {font-family: 'icons',sans-serif;} // font icon


// body
@bb: #fff6e5; // body background

// colors
@c1: #000000;
@c2: #ff6a00;
@c3: #ffaa00;
@c4: #ffd026;
@c5: #1e4f00;
@c6: #2c7800;
@c7: #919191;
@c8: #003479;
@cp: @c1; // color primary
@cl: @c2; // color link

// font sizes
@fsp: 16px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.5; // line height primary

// form
@input-size: 16px;
@input-height: 46px;
@input-padding: 15px;
@input-border: @c6;
@input-bg: #fff;

// layout
@content-width: 1160px;
@content-width-md: 960px;
@content-width-sm: 740px;
@content-width-xs: 100%;
@content-padding: 20px;

// media query >>> @media @xs, @sm
@lg: ~"(min-width: 1200px)";
@md: ~"(min-width: 990px) and (max-width: 1199px)";
@sm: ~"(min-width: 770px) and (max-width: 989px)";
@xs: ~"(max-width: 769px)";
@xxs: ~"(max-width: 479px)";