#page-header {
	position: relative;
	z-index: 999;
	background: @c5 url(../images/bg/01.jpg) no-repeat top;
	background-size: 100% 100%;
	@media @sm, @xs {
		background-image: none;
	}
	.inner {
		.clearfix;
		position: relative;
		background: url(../images/bg/02.png) no-repeat bottom;
		@media @sm, @xs {
			text-align: center;
		}
	}
	.logo {
		.fs1;
		float: left;
		text-transform: uppercase;
		width: 530px;
		margin: 32px 20px 55px 0;
		font-size: 35px;
		line-height: 1.32;
		font-weight: normal;
		padding: 0;
		background: none;
		@media @sm, @xs {
			width: 100%;
			margin: 20px 0;
		}
		@media @sm {
			width: 50%;
		}
		a {
			color: #fff;
			text-decoration: none;
			@media @sm, @xs {
				strong {
					display: block;
				}
			}
			&:before{
				.fi;
				content: '\e811';
				line-height: 1;
				font-size: 71px;
				float: left;
				margin: 4px 30px 0 0;
				@media @sm, @xs {
					float: none;
					display: block;
					margin: 0 auto 20px;
				}
			}
		}
	}
	.slogan {
		.fs2;
		position: relative;
		float: left;
		text-transform: uppercase;
		color: #fff;
		font-size: 28px;
		line-height: 1.1;
		width: 320px;
		height: 182px;
		margin: 0 -40px 0 0;
		font-size: 0;
		background: url(../images/bg/03.png) no-repeat;
		@media @md, @sm, @xs {
			display: none;
		}
		&:before{
			.fi;
			content: '\e81c';
			position: absolute;
			top: 23px;
			left: 66px;
			font-size: 96px;
			line-height: 1;
		}
	}
}
#mainmenu {
	position: relative;
	z-index: 999;
	background: @c4;
	@media @sm, @xs {
		padding: 10px 0;
	}
	&:before{
		content: '';
		position: absolute;
		bottom: 100%;
		left: 0;
		right: 0;
		height: 5px;
		background: url(../images/bg/04.png) top;
	}
	.toggle-menu {
		display: none;
		margin: auto;
		@media @sm, @xs {
			display: block;
		}
		&:before{
			.fi;
			content: '\e80b';
			font-weight: normal;
			margin: 0 20px 0 0;
			.menu-on & {
				content: '\e80c';
			}
		}
	}
}
#main-header {
	position: relative;
	background: @c3;
	margin: 0 0 -148px;
	.menu-on & {
		display: none;
	}
}
#home {
	.clearfix;
	padding: 148px 0 0;
	.menu-on & {
		display: none;
	}
}
#col-main {
	float: left;
	width: 760px;
	padding: 20px 40px 45px 0;
	#home & {
		padding-top: 65px;
	}
	@media @md, @sm, @xs {
		float: none;
		width: auto;
		padding-right: 0;
	}
	.menu-on & {
		display: none;
	}
}
#col-right {
	float: left;
	width: 360px;
	padding: 0 0 45px 34px;
	@media @md, @sm, @xs {
		float: none;
		width: auto;
		padding-left: 0;
	}
	#home & {
		padding-top: 65px;
	}
	.menu-on & {
		display: none;
	}
}
#content {
	margin: 0 0 60px;
}
#col-bottom {
	position: relative;
	background: #fff;
	.menu-on & {
		display: none;
	}
}
#page-footer {
	position: relative;
	padding: 30px 0;
	line-height: 1.6;
	background: @c3;
	.menu-on & {
		display: none;
	}
	.copy {
		position: relative;
		padding: 0 0 0 170px;
		font-size: 13px;
		float: left;
		@media @xs {
			float: none;
			padding: 0;
			text-align: center;
		}
		a {
			color: #fff;
		}
		.logo {
			position: absolute;
			left: 0;
			top: 2px;
			font-size: 0;
			@media @xs {
				position: static;
				margin: 0 0 10px;
			}
			a {
				text-decoration: none;
				&:before{
					.fi;
					content: '\e811';
					font-size: 50px;
					line-height: 1;
					@media @xs {
						font-size: 30px;
					}
				}
			}
		}
	}
	.xart {
		float: right;
		font-size: 11px;
		margin: 3px 0;
		text-transform: uppercase;
		@media @xs {
			float: none;
			text-align: center;
		}
		a {
			color: @c1;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		img {
			float: right;
			width: 14px;
			margin: 1px 0 0 10px;
			@media @xs {
				float: none;
				display: block;
				margin: 0 auto 10px;
			}
		}
	}
}
.mod_custom-contact {
	float: left;
	width: 290px;
	margin: 20px 0 55px;
	color: #fff;
	text-align: right;
	font-size: 14px;
	@media @md {
		width: 370px;
	}
	@media @sm, @xs {
		width: auto;
		float: none;
		margin: 20px 0;
		text-align: center;
	}
	@media @sm {
		width: 50%;
		float: left;
	}
	address {
		position: relative;
		font-style: normal;
		padding: 0 34px 0 0;
		margin: 0 0 12px;
		@media @sm, @xs {
			padding: 0;
		}
		&:before{
			.fi;
			content: '\e808';
			position: absolute;
			right: 7px;
			top: 2px;
			font-size: 23px;
			line-height: 1;
			@media @sm, @xs {
				position: static;
				display: block;
			}
		}
		strong {
			font-size: 18px;
		}
		mark {
			color: @c4;
		}
	}
	.email {
		display: inline-block;
		vertical-align: bottom;
		position: relative;
		font-weight: bold;
		line-height: 1;
		@media @sm, @xs {
			display: block;
			margin: 0 0 10px;
		}
		a {
			color: @c4;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.phone {
		display: inline-block;
		vertical-align: bottom;
		font-weight: bold;
		white-space: nowrap;
		position: relative;
		padding: 0 34px 0 0;
		margin: 0 0 0 12px;
		font-size: 21px;
		line-height: 1;
		@media @sm, @xs {
			padding: 0;
			margin: 0;
		}
		&:before{
			.fi;
			content: '\e809';
			position: absolute;
			right: 7px;
			top: 0px;
			font-size: 22px;
			line-height: 1;
			font-weight: normal;
			@media @sm, @xs {
				position: static;
				display: block;
				margin: 0 0 10px;
			}
		}
	}
}
.mod_custom-translate {
	.border-radius(6px 6px 0 0);
	position: absolute;
	bottom: 0;
	right: 0;
	background: @c5;
	float: right;
	text-align: right;
	padding: 10px 24px;
	@media @sm, @xs {
		float: none;
		clear: both;
		position: static;
		margin: 0 auto 20px;
		display: block;
		text-align: center;
	}
	.goog-te-gadget-simple {
		border-color: transparent;
		background: transparent;
		.goog-te-menu-value {
			.fp;
			color: #fff;
			span {
				color: #fff!important;
				border-color: #fff!important;
			}
		}
	}
}
.goog-te-menu-frame {
	max-width: 100%;
}
.mod_menu-main {
	position: relative;
	z-index: 2;
	float: left;
	width: 760px;
	@media @md {
		width: 100%;
		border-bottom: 1px solid @c6;
	}
	@media @sm, @xs {
		display: none;
		width: auto;
		float: none;
		.menu-on & {
			display: block;
		}
	}
	&>ul {
		.rul;
		position: relative;
		display: table;
		width: 100%;
		@media @sm, @xs {
			display: block;
			text-align: center;
			border-top: 1px solid @c6;
			margin: 10px 0;
		}
		&>li {
			.rli;
			position: static;
			display: table-cell;
			text-align: center;
			padding: 0 15px;
			@media @sm, @xs {
				display: block;
				text-align: left;
				border-bottom: 1px solid @c6;
			}
			&:hover{
				.dropdown {
					display: block;
				}
				&>a {
					border-bottom-color: @c2;
					@media @sm, @xs {
						border-bottom-color: transparent;
					}
				}
			}
			&.act {
				&>a {
					color: @c2;
				}
			}
			&>a {
				.fh;
				display: block;
				font-size: 22px;
				line-height: 1.1;
				color: @c6;
				padding: 22px 0 13px;
				border-bottom: 7px solid transparent;
				text-decoration: none;
				text-transform: uppercase;
				&:hover{
					color: @c2;
				}
			}
			&.home {
				&>a {
					position: relative;
					font-size: 0;
					&:before{
						.fi;
						content: '\e80a';
						font-size: 22px;
					}
					&:after{
						.fi;
						position: absolute;
						content: '\e814';
						right: -25px;
						top: 15px;
						color: @c3;
						font-size: 38px;
						line-height: 1;
						cursor: default;
						@media @sm, @xs {
							display: none;
						}
					}
				}
			}
			.dropdown {
				.clearfix;
				display: none;
				position: absolute;
				top: 100%;
				left: 0;
				right: -360px;
				min-height: 260px;
				text-align: left;
				background: @c2;
				@media @md {
					right: 0;
				}
				@media @sm, @xs {
					position: static;
					display: block;
					margin: 0 -15px;
					min-height: 0;
				}
				&>ul {
					.rul;
					.fh;
					width: 75%;
					padding: 40px 40px 20px;
					font-size: 22px;
					line-height: 1.2;
					@media @sm, @xs {
						width: auto;
						float: none;
						padding: 15px;
						margin: 0 -15px;
						padding: 15px 30px;
					}
					&>li {
						.rli;
						width: 33.3333%;
						float: left;
						padding: 0 12px;
						margin: 0 0 8px;
						@media @sm, @xs {
							float: none;
							width: auto;
							border-bottom: 1px solid @c3;
						}
						&:before{
							top: 7px;
							width: 10px;
							height: 10px;
							border: 4px solid transparent;
							border-left: 5px solid #fff;
						}
						a {
							color: #fff;
							text-decoration: none;
							@media @sm, @xs {
								display: block;
								padding: 0 0 7px;
							}
							&:hover{
								text-decoration: underline;
							}
						}
						ul {
							.rul;
							.fp;
							font-size: 14px;
							margin: 14px 0;
							li {
								.rli;
								padding: 0 0 0 15px;
								margin: 0 0 10px;
								@media @sm, @xs {
									display: inline-block;
									margin: 0 10px 10px 0;
								}
								&:before{
									top: 3px;
									width: 8px;
									height: 8px;
									border: 3px solid transparent;
									border-left: 4px solid #fff;
								}
								a {
									@media @sm, @xs {
										padding: 0;
									}
								}
							}
						}
					}
				}
				article {
					position: absolute;
					width: 25%;
					top: 0;
					right: 0;
					bottom: 0;
					overflow: auto;
					padding: 20px 20px 0;
					color: #fff;
					font-size: 14px;
					background: fade(#000,10);
					@media @sm, @xs {
						position: static;
						width: auto;
						padding: 0;
					}
					@media @xs {
						padding: 10px 20px;
					}
					a {
						color: #fff;
					}
					figure {
						position: relative;
						top: -20px;
						margin: 0 -20px;
						@media @sm, @xs {
							position: static;
							display: block;
							width: 25%;
							float: left;
							margin: 0 20px 0 0;
						}
						@media @xs {
							display: none;
						}
						img {
							display: block;
						}
					}
					h2 {
						.fp;
						font-size: 15px;
						@media @sm, @xs {
							margin: 8px 0 0;
						}
						a {
							
						}
					}
					p {
						@media @sm, @xs {
							margin: 0;
						}
					}
				}
			}
		}
	}
}
.mod_menu-icon {
	position: relative;
	float: right;
	padding: 0 0 0 33px;
	@media @sm, @xs {
		display: none;
		float: none;
		padding: 0;
		margin: 0 auto;
		text-align: center;
		.menu-on & {
			display: block;
		}
	}
	&:before{
		.fi;
		position: absolute;
		content: '\e814';
		left: 0;
		top: 15px;
		color: @c3;
		font-size: 38px;
		line-height: 1;
		@media @sm, @xs {
			display: none;
		}
	}
	ul {
		.rul;
		li {
			.rli;
			float: left;
			@media @sm, @xs {
				float: none;
				display: inline-block;
			}
			a {
				display: block;
				font-size: 0;
				line-height: 1;
				text-decoration: none;
				color: @c6;
				padding: 22px 10px;
				&:hover{
					color: @c2;
				}
				&:before{
					font-size: 22px;
				}
			}
		}
	}
}
.mod_search {
	position: relative;
	z-index: 1;
	float: right;
	margin: 0 0 0 16px;
	padding: 10px 0 10px 4px;
	@media @sm, @xs {
		display: none;
		float: none;
		padding: 0;
		margin: 0;
		.menu-on & {
			display: block;
		}
	}
	&:before{
		.fi;
		position: absolute;
		content: '\e814';
		left: 0;
		top: 15px;
		color: @c3;
		font-size: 38px;
		line-height: 1;
		@media @sm, @xs {
			display: none;
		}
	}
	button.toggle {
		color: @c6;
		background: transparent;
		font-size: 0;
		padding: 0 24px;
		@media @sm, @xs {
			display: none;
		}
		&:hover{
			color: @c2;
		}
		&:before{
			.fi;
			content: '\e80e';
			font-size: 26px;
		}
	}
	form {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		padding: 20px;
		width: 300px;
		background: @c2;
		.search-on & {
			display: block;
		}
		@media @sm, @xs {
			display: block;
			position: relative;
			top: 0;
			width: auto;
		}
	}
	[type="text"] {
		border-color: transparent;
	}
	button[type="submit"] {
		.border-radius(0 4px 4px 0);
		position: absolute;
		right: 20px;
		top: 20px;
		font-size: 0;
		padding: 0;
		width: @input-height;
		&:before{
			.fi;
			content: '\e80e';
			font-size: 26px;
		}
	}
}
.mod_custom-slideshow {
	position: relative;
	width: 760px;
	@media @md, @sm, @xs {
		width: 100%;
	}
	.items {
		background: #fff;
		.item {
			position: relative;
			display: none;
			overflow: hidden;
			&:nth-child(1) {
				display: block;
			}
			&.cycle-slide {
				.content {
					.transition(1s);
					margin-left: -500px;
				}
				&.cycle-slide-active {
					.content {
						margin-left: 0;
					}
				}
			}
			figure {
				img {
					display: block;
				}
			}
			.content {
				.fh;
				position: absolute;
				bottom: 35px;
				left: 0;
				font-size: 26px;
				line-height: 1.1;
				max-width: 80%;
				background: fade(@c3,80);
				@media @sm {
					font-size: 20px;
				}
				@media @xs {
					.fp;
					bottom: 0;
					max-width: 100%;
					font-size: 14px;
					width: 100%;
				}
				a {
					display: block;
					padding: 20px 65px 25px 38px;
					min-height: 113px;
					color: @c6;
					text-decoration: none;
					@media @md, @sm, @xs {
						min-height: 0;
					}
					@media @xs {
						color: @c1;
						padding: 10px 20px;
					}
					&:before{
						.fi;
						.transition(0.2s);
						content: '\e81f';
						position: absolute;
						top: 50%;
						right: 20px;
						font-size: 54px;
						line-height: 1;
						margin: -27px 0 0;
						color: #fff;
						@media @xs {
							font-size: 20px;
							margin: -10px 0 0;
							right: 10px;
						}
					}
					&:hover{
						&:before{
							right: 15px;
						}
					}
				}
				h2 {
					color: #fff;
					text-transform: uppercase;
					font-size: 34px;
					line-height: 1.1;
					margin: 0;
					@media @sm {
						font-size: 24px;
					}
					@media @xs {
						font-size: 14px;
					}
				}
				p {
					margin: 0;
				}
			}
		}
	}
	.pager {
		position: absolute;
		z-index: 101;
		bottom: 33px;
		right: 33px;
		@media @xs {
			bottom: auto;
			left: 0;
			right: 0;
			top: 10px;
			text-align: center;
		}
		span {
			display: inline-block;
			cursor: pointer;
			font-size: 0;
			line-height: 1;
			color: #fff;
			text-shadow: 2px 2px 0 fade(#000,30);
			margin: 0 0 0 5px;
			@media @xs {
				margin: 0 3px;
			}
			&.cycle-pager-active {
				color: @c3;
			}
			&:before{
				.fi;
				content: '\e815';
				font-size: 13px;
				@media @xs {
					font-size: 20px;
				}
			}
		}
	}
}
.mod_custom-calendar {
	position: relative;
	z-index: 100;
	padding: 27px 30px;
	margin: 0 0 60px;
	background: @c3;
	#main-header & {
		position: absolute;
		width: 360px;
		margin: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: none;
		@media @md, @sm, @xs {
			position: static;
			width: auto;
		}
	}
	@media @xs {
		padding: 20px;
	}
	&:before{
		content: '';
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 5px;
		background: url(../images/bg/05.png) no-repeat;
		#main-header & {
			width: (@content-width)-40;
			@media @md {
				width: (@content-width-md)-40;
			}
			@media @sm {
				width: (@content-width-sm)-40;
			}
			@media @xs {
				width: 100%;
			}
		}
	}
	.mod-title {
		.fh;
		text-transform: uppercase;
		color: #fff;
		font-size: 26px;
		line-height: 1.2;
		font-weight: bold;
		&:before{
			.fi;
			float: right;
			content: '\e80f';
			font-weight: normal;
			font-size: 24px;
			margin: 1px -5px 0 0;
		}
	}
	.items {
		position: static;
		top: 56px;
		left: 30px;
		right: 0;
		bottom: 29px;
		padding: 0 30px 0 0;
		overflow: auto;
		margin: 0 0 30px;
		#main-header & {
			position: absolute;
			margin: 0;
			@media @md, @sm, @xs {
				position: static;
				margin: 0 0 30px;
			}
		}
		.item {
			font-size: 14px;
			line-height: 1.4;
			margin: 16px 0 0;
			#main-header & {
				@media @md, @sm {
					width: 50%;
					display: inline-block;
					vertical-align: top;
					margin-right: -4px;
					padding-right: 20px;
				}
			}
			a {
				color: @c1;
				text-decoration: none;
			}
			.date {
				color: #fff;
				font-size: 14px;
				font-weight: bold;
				margin: 0 0 5px;
			}
			h2 {
				font-size: 22px;
				margin: 0 0 1px;
				text-transform: uppercase;
				&:hover{
					text-decoration: underline;
				}
			}
			p {
				margin: 0;
			}
		}
	}
	nav {
		position: absolute;
		bottom: -25px;
		left: 0;
		right: 0;
		text-align: center;
		a {
			.btn;
			height: 54px;
			line-height: 54px;
			#main-header &  {
				min-width: 62%;
			}
		}
	}
}
.mod_newsflash_xart {
	.mod-title {
		.fh;
		text-transform: uppercase;
		color: @c6;
		font-size: 34px;
		line-height: 1.2;
		font-weight: bold;
		padding: 0 0 20px;
		margin: 0 0 48px;
		background: url(../images/bg/06.png) no-repeat left bottom;
		background-size: 100% 9px;
	}
	.items {
		margin: 0 0 85px;
		.item {
			position: relative;
			padding: 0 0 0 90px;
			line-height: 1.4;
			margin: 0 0 70px;
			@media @xs {
				padding: 70px 0 0;
			}
			a {
				color: @c1;
				text-decoration: none;
			}
			figure {
				float: right;
				width: 190px;
				margin: 5px 0 0 40px;
				@media @xs {
					max-width: 30%;
				}
				img {
					display: block;
				}
			}
			.date {
				.fh;
				position: absolute;
				left: 0;
				top: 0;
				font-weight: bold;
				font-size: 14px;
				line-height: 1.2;
				text-align: center;
				width: 60px;
				color: @c6;
				padding: 19px 0 0;
				&:before{
					.fi;
					position: absolute;
					content: '\e812';
					font-size: 58px;
					left: 0;
					top: 0;
					line-height: 1;
					font-weight: normal;
				}
				mark {
					display: block;
					color: @c2;
				}
			}
			h2 {
				text-transform: uppercase;
				font-size: 30px;
				@media @xs {
					font-size: 26px;
				}
				&:hover{
					color: @c2;
				}
			}
		}
	}
	nav {
		padding: 0 0 0 90px;
		a {
			.btn;
			line-height: 54px;
			height: 54px;
			padding: 0 28px;
		}
	}
}
.mod_menu-links {
	.clearfix;
	margin: 0 0 35px;
	@media @md {
		width: 50%;
		display: inline-block;
		vertical-align: top;
		margin: 0 -5px 0 0;
		padding: 0 40px 0 0;
	}
	.mod-title {
		.fh;
		text-transform: uppercase;
		color: @c2;
		font-size: 26px;
		line-height: 1.2;
		font-weight: bold;
		padding: 0 0 23px;
		margin: 7px 0 40px;
		background: url(../images/bg/07.png) no-repeat left bottom;
		background-size: 100% 9px;
	}
	ul {
		.rul;
		li {
			.rli;
			.fh;
			margin: 0 30px 21px 0;
			padding: 0 0 14px 45px;
			text-transform: uppercase;
			font-size: 22px;
			line-height: 1.2;
			border-bottom: 1px solid lighten(@c7,20);
			a {
				text-decoration: none;
				&:hover{
					color: @c6;
				}
				&:before{
					margin: 0;
					position: absolute;
					left: 2px;
					top: -2px;
					font-size: 26px;
					line-height: 1;
				}
			}
		}
	}
}
.mod_poll {
	position: relative;
	margin: 0 0 60px;
	@media @md {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		padding: 0 0 0 40px;
	}
	&:before{
		.fi;
		content: '\e820';
		position: absolute;
		top: 44%;
		right: -97px;
		font-size: 98px;
		line-height: 1;
		color: @c6;
		@media (max-width: 1460px) {
			display: none;
		}
	}
	.mod-title {
		.fh;
		text-transform: uppercase;
		color: @c6;
		font-size: 26px;
		line-height: 1.2;
		font-weight: bold;
		padding: 0 0 23px;
		margin: 7px 0 37px;
		background: url(../images/bg/07.png) no-repeat left bottom;
		background-size: 100% 9px;
	}
	.question {
		position: relative;
		padding: 0 0 30px 45px;
		margin: 0 30px 37px 0;
		font-weight: bold;
		color: @c6;
		border-bottom: 1px solid lighten(@c7,20);
		&:before{
			.fi;
			content: '\e813';
			position: absolute;
			top: 0;
			left: 1px;
			font-size: 30px;
			line-height: 1;
			color: @c2;
		}
	}
	label {
		display: block;
		position: relative;
		padding: 0 0 0 30px;
		margin: 0 0 10px 14px;
		line-height: 1.2;
		.iradio {
			position: absolute;
			left: 0;
			top: -4px;
			color: lighten(@c7,20);
		}
	}
	.buttons {
		margin: 47px 0 0;
		input[type="submit"], a {
			.btn;
			height: 54px;
			left: 54px;
			padding: 0 28px;
			margin: 0 15px 0 0;
			background: @c2;
			border: 4px solid @c6;
			&:hover{
				color: #fff;
				background: @c6;
			}
		}
		a {
			line-height: 46px;
			color: @c2;
			background: #fff;
		}
	}
}
.mod_custom-facebook {
	.clearfix;
	margin: 0 0 60px;
	.mod-title {
		.fh;
		text-transform: uppercase;
		color: @c6;
		font-size: 26px;
		line-height: 1.2;
		font-weight: bold;
		padding: 0 0 23px;
		margin: 7px 0 22px;
		background: url(../images/bg/07.png) no-repeat left bottom;
		background-size: 100% 9px;
	}
	.face {
		float: left;
		ul {
			.rul;
			.clearfix;
			li {
				.rli;
				float: left;
				width: 54px;
				margin: 0 3px 3px 0;
				img {
					.border-radius(50%);
					display: block;
				}
			}
		}
	}
	nav {
		position: relative;
		float: right;
		&:before{
			.fi;
			content: '\e81d';
			position: absolute;
			bottom: -15px;
			left: -20px;
			font-size: 148px;
			line-height: 1;
			color: @c6;
			@media (max-width: 1460px) {
				display: none;
			}
		}
		a {
			position: relative;
			font-size: 0;
			text-decoration: none;
			&:hover{
				&:before{
					background: @c6;
				}
			}
			&:before{
				.border-radius(50%);
				.transition(0.2s);
				width: 54px;
				height: 54px;
				line-height: 54px;
				font-size: 32px;
				margin: 0;
				color: #fff;
				background: @c2;
			}
		}
	}
}
.mod_banners-01, .mod_banners-02, .mod_banners-03 {
	float: left;
	padding: 0 20px 0 0;
	margin: 68px 0 35px;
	.mod-title {
		.fh;
		position: relative;
		font-size: 26px;
		line-height: 1.2;
		text-transform: uppercase;
		font-weight: bold;
		padding: 0 0 0 30px;
		margin: 0 0 48px;
		&:before{
			.fi;
			content: '\e814';
			position: absolute;
			left: 0;
			top: -5px;
			font-size: 34px;
			line-height: 1;
			color: @c3;
		}
	}
	ul {
		.rul;
		.clearfix;
		li {
			.rli;
			display: inline-block;
			vertical-align: middle;
			margin: 0 20px 0 0;
			a {
				
			}
			img {
				
			}
		}
	}
	.slider {
		position: relative;
		padding: 0 30px;
		top: -20px;
		.cycle-carousel-wrap {
			position: relative!important;
		}
		ul {
			li {
				&.cycle-sentinel {
					display: none!important;
				}
			}
		}
		.prev, .next {
			position: absolute;
			top: 50%;
			left: -7px;
			font-size: 54px;
			line-height: 1;
			margin: -30px 0 0;
			color: @c7;
			text-decoration: none;
			&:hover{
				color: @c2;
			}
			&:before{
				.fi;
				content: '\e81e';
			}
		}
		.next {
			left: auto;
			right: -7px;
			&:before{
				content: '\e81f';
			}
		}
	}
}
.mod_banners-01 {
	width: 290px;
	@media @md, @sm {
		width: 50%;
	}
	@media @xs {
		width: 100%;
	}
}
.mod_banners-02 {
	width: 250px;
	@media @md, @sm {
		width: 50%;
	}
	@media @xs {
		width: 100%;
	}
}
.mod_banners-03 {
	width: 580px;
	@media @md, @sm, @xs {
		width: 100%;
	}
}
.mod_menu-footer {
	ul {
		.rul;
		li {
			.rli;
			a {
				
			}
		}
	}
}
.mod_breadcrumbs {
	margin: -10px 0 30px;
	ul {
		.rul;
		li {
			display: inline-block;
			margin: 0 10px 0 0;
			font-size: 13px;
			color: @c6;
			&:before{
				top: 4px;
			}
			a {
				text-decoration: none;
				color: @c7;
				&:hover{
					text-decoration: underline;
				}
			}
			&.home {
				padding: 0;
				&:before{
					display: none;
				}
				a {
					font-size: 0;
					&:hover{
						text-decoration: none;
						color: @c2;
					}
					&:before{
						.fi;
						content: '\e80a';
						font-size: 16px;
					}
				}
			}
		}
	}
}
#gotop{
	@media @xs {
		display: none;
	}
	a{
		.transition(0.2s);
		.border-radius(10px);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @cl;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: 'top';
			font-size: 20px;
		}
		&:hover{
			background: darken(@cl,10%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}