#top-panel {
	.box-shadow(inset 0 -3px 6px fade(#000,50));
	position: relative;
	background: @c8;
	z-index: 99999999;
	&:before{
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.inner {
		.clearfix;
		position: relative;
		width: @content-width;
		padding: 0 @content-padding;
		margin: 0 auto;
		text-align: right;
		@media @md {
			width: @content-width-md;
		}
		@media @sm {
			width: @content-width-sm;
		}
		@media @xs {
			width: @content-width-xs;
		}
		&:hover{
			.mod_banners-top-panel {
				max-height: 2000px;
			}
		}
	}
	a.button {
		position: relative;
		z-index: 999;
		float: right;
		overflow: hidden;
		padding: 0 20px;
		margin: 0 -20px;
		span {
			.box-shadow(0 0 20px #000);
			float: right;
			background: darken(@c8,10) url(../images/logo/velka_bites.png) no-repeat;
			background-size: auto 35px;
			width: 172px;
			height: 35px;
			font-size: 0;
			cursor: pointer;
		}
	}
	.mod_banners-top-panel {
		.box-shadow(0 0 12px #000);
		.transition(0.2s);
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		color: #fff;
		background: @c8;
		max-height: 0;
		overflow: hidden;
		.in {
			padding: 20px 0;
			ul {
				.rul;
				text-align: left;
			}
			li {
				.rli;
			}
			&>ul {
				&>li {
					display: inline-block;
					vertical-align: top;
					width: 33.3333%;
					margin: 0 -4px 20px 0;
					padding: 0 20px;
					font-size: 14px;
					&>a {
						display: inline-block;
						width: 50%;
						margin: 0 -5px 0 0;
						img {
							display: block;
						}
					}
					ul {
						display: inline-block;
						width: 50%;
						a {
							color: @c4;
						}
					}
				}
			}
		}
	}
}
