
.icon-checkbox:before { content: '\e800'; } /* '' */
.icon-checkbox-checked:before { content: '\e801'; } /* '' */
.icon-radio:before { content: '\e802'; } /* '' */
.icon-radio-checked:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-attention-circled:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */
.icon-phone:before { content: '\e809'; } /* '' */
.icon-home:before { content: '\e80a'; } /* '' */
.icon-menu:before { content: '\e80b'; } /* '' */
.icon-cancel:before { content: '\e80c'; } /* '' */
.icon-book:before { content: '\e80d'; } /* '' */
.icon-search:before { content: '\e80e'; } /* '' */
.icon-calendar:before { content: '\e80f'; } /* '' */
.icon-briefcase:before { content: '\e810'; } /* '' */
.icon-logo:before { content: '\e811'; } /* '' */
.icon-calendar-bg:before { content: '\e812'; } /* '' */
.icon-question:before { content: '\e813'; } /* '' */
.icon-slash:before { content: '\e814'; } /* '' */
.icon-pager:before { content: '\e815'; } /* '' */
.icon-arr-left:before { content: '\e816'; } /* '' */
.icon-arr-right:before { content: '\e817'; } /* '' */
.icon-arr-up:before { content: '\e818'; } /* '' */
.icon-arr-down:before { content: '\e819'; } /* '' */
.icon-arr-hand-left:before { content: '\e81a'; } /* '' */
.icon-arr-hand-right:before { content: '\e81b'; } /* '' */
.icon-cool:before { content: '\e81c'; } /* '' */
.icon-lajkni:before { content: '\e81d'; } /* '' */
.icon-arr-thin-left:before { content: '\e81e'; } /* '' */
.icon-arr-thin-right:before { content: '\e81f'; } /* '' */
.icon-checkni:before { content: '\e820'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-certificate:before { content: '\f0a3'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-doc:before { content: '\f15c'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */